<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title>Pregunta 9</title>
</head>

<body>
	<h1>Pregunta 9</h1>
	<form th:action="@{/pregunta9}" method="POST">
		<label>Marca que personaje son de la casa Lannister</label><br>
		<img th:src="@{'img/pregunta9.jpg'}"><br>
		<input type="checkbox" name="pregunta9" value="Incorrecto">Jorah
		<!--Verdadera--><br>
		<input type="checkbox" name="pregunta9" value="Incorrecto">Arya <br>
		<input type="checkbox" name="pregunta9" value="Incorrecto">Robert <br>
		<input type="checkbox" name="pregunta9" value="Incorrecto">Jon<br>
		<input type="checkbox" name="pregunta9" value="Tiryon">Tiryon
		<!--Verdadera--><br>
		<input type="checkbox" name="pregunta9" value="Incorrecto">Daenerys<br><br>
		</select>
		<button type="submit" name="siguiente" value="Siguiente">Siguiente</button>
</body>

</html>