<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title>Pregunta 1</title>
</head>

<body>
	<h1>Pregunta 1</h1>
	<form th:action="@{/pregunta1}" method="POST">
		<label>¿Quien es la verdadera madre de Jhon Snow?</label><br><br>
		<img src="img/pregunta1.png"><br>
		<input type="radio" name="pregunta1" value="Incorrecto">La hija del pescador<br>
		<input type="radio" name="pregunta1" value="Correcto">Lyanna Stark
		<!--Verdadera--><br>
		<input type="radio" name="pregunta1" value="Incorrecto">Ashara Dayne<br>
		<input type="radio" name="pregunta1" value="Incorrecto">Wylla, la nodriza de
		Campoestrella<br><br>
		<button type="submit" name="siguiente" value="Siguiente">Siguiente</button>
	</form>
</body>

</html>