<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title>Pregunta 5</title>
</head>

<body>
	<h1>Pregunta 5</h1>
	<form th:action="@{/pregunta5}" method="POST">
		<label>Escribe animal aparece en el blason de la Casa Baratheon?</label><br>
		<img th:src="@{'img/pregunta5.jpg'}"><br>
		<p>Ciervo</p>
		<!--Verdadera-->
		<p>Jabali</p>
		<p>Leon</p>
		<p>Lobo</p><br>
		<input type="text" name="pregunta5" placeholder="Escribe una respuesta"><br><br>
		<button type="submit" name="siguiente" value="Siguiente">Siguiente</button>
</body>

</html>