<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
<body>
	<div>
		<h1 th:text="${titulo}"></h1>
	</div>

	<div>
		<table>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Puntos</th>
			</tr>

			<tr th:each="us:${usuario}">
				<td th:text="${us.id}"></td>
				<td th:text="${us.nombre}"></td>
				<td th:text="${us.puntuacion}"></td>
			</tr>
		</table>
	</div>
</body>

</html>